.fallback {
	#main {
		#video{
			#player{
				display: none;
			}
			#gif{
				position: absolute;
				display: block;
				width: 100%;
				top: 5%;
				img, canvas{
					border: 0;
					position: absolute;
					top:0; left:0;
					width: 100%;
					height: auto;
				}
			
			}
		}
	}
}