//http://compass-style.org/reference/compass/css3/font_face/
@import "compass/css3/font-face";


@font-face {
	font-family:"GothamBold";
	src:url("../fonts/gotham-bold-webfont.eot");
	src:url("../fonts/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/gotham-bold-webfont.woff") format("woff"),
		url("../fonts/gotham-bold-webfont.ttf") format("truetype"),
		url("../fonts/gotham-bold-webfont.svg#GothamBold") format("svg"),
		url("../fonts/gotham-bold-webfont.otf") format("otf");
	font-weight:bold;
	font-style:normal;
}
@font-face {
	font-family:"GothamMedium";
	src:url("../fonts/gotham-medium-webfont.eot");
	src:url("../fonts/gotham-medium-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/gotham-medium-webfont.woff") format("woff"),
		url("../fonts/gotham-medium-webfont.ttf") format("truetype"),
		url("../fonts/gotham-medium-webfont.svg#GothamMedium") format("svg"),
		url("../fonts/gotham-medium-webfont.otf") format("otf");
	font-weight:normal;
	font-style:normal;
}
/* --- not used but lets keep these around, just in case fontsquirrel.com
@font-face {
	font-family:"GrandHotelRegular";
	src:url("../fonts/grandhotel-regular-webfont.eot");
	src:url("../fonts/grandhotel-regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/grandhotel-regular-webfont.woff") format("woff"),
		url("../fonts/grandhotel-regular-webfont.ttf") format("truetype"),
		url("../fonts/grandhotel-regular-webfont.svg#GothamBold") format("svg"),
		url("../fonts/grandhotel-regular-webfont.otf") format("otf");
	font-weight:normal;
	font-style:normal;
}
//*/
