ul.share-links {
	display: block;
	width: 123px;
	margin: 0 auto;
	text-align: left;
	li{
		display: inline-block;
		width: 30%;
		margin-right: 5%;
		.li-text {display: none;}
			
		a{	
			border: 3px solid #000;
			background-color: #fcf;
			display: block;
			width: 90%;
			height: 40px;
			text-indent: -9999em;
			cursor: pointer;
			background-image: url('../img/social-sprite.png');
			background-repeat: no-repeat;
		}
		a:hover {
			border: 3px solid #fff;
		}
		.a-facebook {
			background-position: 10px 6px;
			&:hover{
				background-position: -240px 6px;
				
			}
		}
		.a-twitter{
			background-position: -71px 6px;
			&:hover{
				background-position: -321px 6px;
				
			}
		}
		
		.a-email{
			background-position: -150px 6px;
			&:hover{
				background-position: -400px 6px;

			}
		}
		
	
	}
	li:last-child{
		margin-right: 0;
	}
	
	
}