@import 'bp/bp';
@import "compass/reset";
@import "compass";

/* ==========================================================================
   Author's custom styles
   =======================
*/

body, html {
	background-color: #ffccff;
	font-family: Arial, Helvetica, sans-serif;
}




header {
	width: 146px;
	padding: 20px;
	float: left;
	z-index:9;
	h1{
		width: 100%;
		background-color: #000;
		color: #fff;
	}
}
#player{
	position: absolute;
	top: 10%;
	right: 30%;
	background-color: #000;
	z-index:7;
	
}
#bob{
	position:absolute;
	top: 0;
	right: 0;
	width: 75%;
	height: 100%;
	z-index:8;
	max-width: 800px;
	background-color: rgba(0,0,255,.25);
}

footer {
	width: 100%;
	color: #fff;
	background-color: #000;
	position: absolute;
	bottom: 0;
	padding: 1em 0;
	font-size: .5em;
	text-align: center;
	text-transform: uppercase;
	z-index: 9;
	p{
		a, a:link, a:active, a:visited, a:hover{
			color: #fff;
			text-decoration: none;
		}
		a:hover{
			text-decoration: underline;
		}
	}
	
}


@media screen and (max-width: 800px){
	#bob {
		background-color: #f00;
		width: 600px;
		height: 600px;
		position: relative;
		float: left;
	}
}

@media screen and (min-width: 480px){
	
}

@import '_sharelinks';

/* ==========================================================================
   End author's custom styles
   ========================================================================== */
@import 'bp/mediaqueries';
@import 'bp/helpers';
@import 'bp/print';
