@import "compass";
@import "compass/reset";
@import "compass/css3";
@import 'compass/utilities/general/clearfix';
@import 'animate';
@import 'bp/bp';
@import 'fonts';

/* ==========================================================================
   Author's custom styles
   =======================
*/

body, html {
	background-color: #fcf;
	font-family: Arial, Helvetica, sans-serif;
	&.intro{
		overflow:hidden;
	}
}
@import 'nav';


#main{
	position:absolute;
	top: 0;
	right: 0;
	width: 75%;
	height: 100%;
	max-width: 800px;
	#bob{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index:8;
		background-image: url('../img/bob_bg.png');
		background-repeat: no-repeat;
		background-position: top left;
		background-size: 100% auto;
		overflow: hidden;
		//1266x1482
		.mouth{
			background-image: url('../img/bob_mouth.png');
		}
		.mouth, .brush{
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index:9;
		}
		.brush{
			background-image: url('../img/bob_brush_a.png');
			@include transition-property(background-position);			
			@include transition-duration(.4s);
			&.b{
			background-position: 0 -5%;
				background-image: url('../img/bob_brush_b.png');
			}
		}
	}
	#video{
		position: absolute;
		top:0;
		width: 90%;
		height: 60%;
		padding-top: 10%;
		background-color: #000;
		z-index:7;
		overflow: hidden;
		#gif {
			display:none;
		}
	}
	display: none;
}



@media screen and (max-width: 760px){
	body{
		overflow: hidden;
	}
	#main {
		width: 75%;
	}
}

@media screen and (max-width:660px){
	#main {
		width: 100%;
		height: 70%;
		top: 180px;
		bottom: 0;	
	}
}

@media screen and (max-width: 480px){
	#main {
		width:100%;
		height: 500px;
		top: 200px
	}
}
@import 'fallback';
@import 'footer';

.mejs-layers, .mejs-controls{
	display: none;
}
audio{
	display: none;
}


/* ==========================================================================
   End author's custom styles
   ========================================================================== */
@import 'bp/mediaqueries';
@import 'bp/helpers';
@import 'bp/print';
