@import "compass";
@import "compass/reset";
@import "compass/css3";
@import 'compass/utilities/general/clearfix';
@import 'animate';
@import 'bp/bp';
@import 'fonts';

/* ==========================================================================
   Author's custom styles
   =======================
*/

body, html {
	background-color: #fcf;
	font-family: Arial, Helvetica, sans-serif;
	&.intro{
		overflow:hidden;
	}
}
@import 'nav';


#main{
	position:absolute;
	top: 0;
	right: 0;
	width: 75%;
	height: 100%;
	max-width: 800px;
	background-color: black;
	#bob{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index:8;
		background-image: url('../img/bob_bg.png');
		background-repeat: no-repeat;
		background-position: top left;
		background-size: 100% auto;
		overflow: hidden;
		//1266x1482
		.mouth{
			background-image: url('../img/bob_mouth.png');
		}
		.brush{
			background-image: url('../img/bob_brush_a.png');
			&.b{
				background-image: url('../img/bob_brush_b.png');
			}
		}
		.mouth, .brush{
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index:9;
		}
	
	}
	#video{
		position: absolute;
		top:12%;
		width: 90%;
		height: 60%;
		background-color: #000;
		z-index:7;
		overflow: hidden;
		#gif {
			display:none;
		}
	}
	display: none;
}
.fallback {
	#main {
		#video{
			#player{
				display: none;
			}
			#gif{
				position: absolute;
				display: block;
				width: 100%;
				top: 5%;
				img, canvas{
					border: 0;
					position: absolute;
					top:0; left:0;
					width: 100%;
					height: auto;
				}
			
			}
		}
	}
}



footer {
	width: 100%;
	color: #fff;
	background-color: #000;
	position: absolute;
	bottom: 0;
	padding: 1em 0;
	font-size: .5em;
	text-align: center;
	text-transform: uppercase;
	z-index: 9;
	font-family:"GothamBold";
	p{
		a, a:link, a:active, a:visited, a:hover{
			color: #fff;
			text-decoration: none;
		}
		a:hover{
			text-decoration: underline;
		}
	}
	
}


@media screen and (max-width: 760px){
	body{
		overflow: hidden;
	}
	#main {
		width: 75%;
	}
}

@media screen and (max-width:660px){
	#main {
		width: 100%;
		height: 70%;
		top: auto;
		bottom: 0;	
	}
}

@media screen and (max-width: 480px){
	#main {
		width:100%;
		height: 500px;
		top: 150px
	}
}

.mejs-layers, .mejs-controls{
	display: none;
}
audio{
	display: none;
}


/* ==========================================================================
   End author's custom styles
   ========================================================================== */
@import 'bp/mediaqueries';
@import 'bp/helpers';
@import 'bp/print';
