/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../sass/bp/_bp.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/bp/_bp.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/bp/_bp.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/bp/_bp.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/bp/_bp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/bp/_bp.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/bp/_bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/bp/_bp.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/bp/_bp.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 17, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ==========================================================================
   Author's custom styles
   =======================
*/
/* line 10, ../sass/main.scss */
body, html {
  background-color: #ffccff;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 18, ../sass/main.scss */
header {
  width: 146px;
  padding: 20px;
  float: left;
  z-index: 9;
}
/* line 23, ../sass/main.scss */
header h1 {
  width: 100%;
  background-color: #000;
  color: #fff;
}

/* line 29, ../sass/main.scss */
#player {
  position: absolute;
  top: 10%;
  right: 30%;
  background-color: #000;
  z-index: 7;
}

/* line 41, ../sass/main.scss */
#bob {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  z-index: 8;
  max-width: 800px;
  background-color: rgba(0, 0, 255, 0.25);
  background-image: url("../img/bob_bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
}

/* line 56, ../sass/main.scss */
footer {
  width: 100%;
  color: #fff;
  background-color: #000;
  position: absolute;
  bottom: 0;
  padding: 1em 0;
  font-size: .5em;
  text-align: center;
  text-transform: uppercase;
  z-index: 9;
}
/* line 68, ../sass/main.scss */
footer p a, footer p a:link, footer p a:active, footer p a:visited, footer p a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 72, ../sass/main.scss */
footer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  /* line 81, ../sass/main.scss */
  #bob {
    background-color: #f00;
    width: 600px;
    height: 600px;
    position: relative;
    float: left;
  }
}
/* line 1, ../sass/_sharelinks.scss */
ul.share-links {
  display: block;
  margin: 0 auto;
}
/* line 4, ../sass/_sharelinks.scss */
ul.share-links li {
  display: inline-block;
  margin: 0;
  margin-right: 5px;
}
/* line 8, ../sass/_sharelinks.scss */
ul.share-links li .li-text {
  display: none;
}
/* line 12, ../sass/_sharelinks.scss */
ul.share-links li a {
  background-color: #ea756e;
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999em;
  cursor: pointer;
  background-image: url("../img/social-sprite.png");
  background-repeat: no-repeat;
  border-radius: 20px;
}
/* line 25, ../sass/_sharelinks.scss */
ul.share-links li .a-facebook {
  background-position: -99px -98px;
}
/* line 28, ../sass/_sharelinks.scss */
ul.share-links li .a-twitter {
  background-position: -238px -145px;
}
/* line 31, ../sass/_sharelinks.scss */
ul.share-links li .a-google {
  background-position: -238px -192px;
}
/* line 34, ../sass/_sharelinks.scss */
ul.share-links li .a-tumblr {
  background-position: -52px -100px;
}
/* line 37, ../sass/_sharelinks.scss */
ul.share-links li .a-email {
  background-position: -193px -4px;
}
/* line 41, ../sass/_sharelinks.scss */
ul.share-links li.last {
  margin-right: 0;
}

/* ==========================================================================
   End author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 5, ../sass/bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 12, ../sass/bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 19, ../sass/bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 24, ../sass/bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 36, ../sass/bp/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 45, ../sass/bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 50, ../sass/bp/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 55, ../sass/bp/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 59, ../sass/bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 6, ../sass/bp/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 14, ../sass/bp/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 18, ../sass/bp/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 22, ../sass/bp/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 32, ../sass/bp/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 37, ../sass/bp/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 42, ../sass/bp/_print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 47, ../sass/bp/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 51, ../sass/bp/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 61, ../sass/bp/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 67, ../sass/bp/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
