/* line 5, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.0.alpha.16/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 5, ../sass/bp/_bp.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/bp/_bp.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/bp/_bp.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/bp/_bp.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/bp/_bp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/bp/_bp.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/bp/_bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/bp/_bp.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/bp/_bp.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "GothamBold";
  src: url("../fonts/gotham-bold-webfont.eot");
  src: url("../fonts/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham-bold-webfont.ttf") format("truetype"), url("../fonts/gotham-bold-webfont.svg#GothamBold") format("svg"), url("../fonts/gotham-bold-webfont.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "GothamMedium";
  src: url("../fonts/gotham-medium-webfont.eot");
  src: url("../fonts/gotham-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium-webfont.woff") format("woff"), url("../fonts/gotham-medium-webfont.ttf") format("truetype"), url("../fonts/gotham-medium-webfont.svg#GothamMedium") format("svg"), url("../fonts/gotham-medium-webfont.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
/* ==========================================================================
   Author's custom styles
   =======================
*/
/* line 14, ../sass/main.scss */
body, html {
  background-color: #fcf;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 17, ../sass/main.scss */
body.intro, html.intro {
  overflow: hidden;
}

/* line 1, ../sass/_nav.scss */
header {
  float: left;
  z-index: 9;
  text-align: center;
  padding: 1em;
  margin-left: 1em;
}
/* line 7, ../sass/_nav.scss */
header h1 {
  padding: 0;
  margin: 0 auto .5em;
  background-color: #000;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  width: 123px;
  height: 130px;
  text-indent: -9999em;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: center center;
}
/* line 22, ../sass/_nav.scss */
header nav {
  padding: 0;
}
/* line 25, ../sass/_nav.scss */
header nav .controls li {
  display: block;
  width: 123px;
  text-align: center;
  text-transform: uppercase;
  font-family: "GothamMedium";
  font-size: .8em;
  line-height: .8em;
  padding: .65em 0;
  border: 3px solid #000;
  margin: 0 auto .5em;
  cursor: pointer;
  -moz-transition-property: display;
  -o-transition-property: display;
  -webkit-transition-property: display;
  transition-property: display;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 40, ../sass/_nav.scss */
header nav .controls li:hover {
  background-color: #000;
  color: #fff;
}
/* line 44, ../sass/_nav.scss */
header nav .controls li.disabled {
  cursor: default;
  display: none;
}
/* line 51, ../sass/_nav.scss */
header nav .share-links {
  display: block;
  margin: 0 auto .5em;
  padding: 0;
  text-align: left;
  width: 126px;
}
/* line 57, ../sass/_nav.scss */
header nav .share-links li {
  display: block;
  float: left;
  width: 30%;
  margin: 0;
  margin-right: 5%;
}
/* line 63, ../sass/_nav.scss */
header nav .share-links li .li-text {
  display: none;
}
/* line 65, ../sass/_nav.scss */
header nav .share-links li a {
  display: block;
  padding: 0;
  margin: 0;
  border: 3px solid #000;
  background-color: #fcf;
  width: 90%;
  height: 40px;
  text-indent: -9999em;
  cursor: pointer;
  background-image: url("../img/social-sprite.png");
  background-repeat: no-repeat;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 80, ../sass/_nav.scss */
header nav .share-links li a:hover {
  background-color: #000;
}
/* line 83, ../sass/_nav.scss */
header nav .share-links li .a-facebook {
  background-position: 10px 6px;
}
/* line 85, ../sass/_nav.scss */
header nav .share-links li .a-facebook:hover {
  background-position: -240px 6px;
}
/* line 89, ../sass/_nav.scss */
header nav .share-links li .a-twitter {
  background-position: -71px 6px;
}
/* line 91, ../sass/_nav.scss */
header nav .share-links li .a-twitter:hover {
  background-position: -321px 6px;
}
/* line 95, ../sass/_nav.scss */
header nav .share-links li .a-email {
  background-position: -150px 6px;
}
/* line 97, ../sass/_nav.scss */
header nav .share-links li .a-email:hover {
  background-position: -400px 6px;
}
/* line 101, ../sass/_nav.scss */
header nav .share-links li:last-child {
  margin-right: 0;
}
/* line 106, ../sass/_nav.scss */
header nav .soundboard {
  display: block;
  margin: 0 auto .5em;
  padding: 0;
  text-align: left;
  width: 126px;
}
/* line 112, ../sass/_nav.scss */
header nav .soundboard li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 36px;
  margin-right: 6px;
  background-image: url("../img/social-sprite.png");
  background-repeat: no-repeat;
  text-indent: -9999em;
  border: 3px solid #000;
  cursor: pointer;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 127, ../sass/_nav.scss */
header nav .soundboard li:last-child {
  margin-right: 0;
}
/* line 130, ../sass/_nav.scss */
header nav .soundboard li:hover {
  background-color: #000;
  color: #fff;
}
/* line 138, ../sass/_nav.scss */
header nav .soundboard .tree {
  background-position: 10px -33px;
}
/* line 140, ../sass/_nav.scss */
header nav .soundboard .tree:hover {
  background-position: -240px -33px;
}
/* line 144, ../sass/_nav.scss */
header nav .soundboard .mountains {
  background-position: -71px -33px;
}
/* line 146, ../sass/_nav.scss */
header nav .soundboard .mountains:hover {
  background-position: -321px -33px;
}
/* line 150, ../sass/_nav.scss */
header nav .soundboard .cloud {
  background-position: -151px -33px;
}
/* line 152, ../sass/_nav.scss */
header nav .soundboard .cloud:hover {
  background-position: -401px -31px;
}

@media screen and (max-width: 660px) {
  /* line 160, ../sass/_nav.scss */
  header {
    margin: 0 auto;
  }
  /* line 162, ../sass/_nav.scss */
  header h1 {
    margin-right: .5em;
    float: left;
  }
  /* line 166, ../sass/_nav.scss */
  header nav {
    float: left;
  }
  /* line 169, ../sass/_nav.scss */
  header nav .controls li {
    width: 122px;
    margin-left: 1px;
  }
}
/* line 24, ../sass/main.scss */
#main {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  max-width: 800px;
  display: none;
}
/* line 31, ../sass/main.scss */
#main #bob {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
  background-image: url("../img/bob_bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
  overflow: hidden;
}
/* line 42, ../sass/main.scss */
#main #bob .mouth {
  background-image: url("../img/bob_mouth.png");
}
/* line 45, ../sass/main.scss */
#main #bob .mouth, #main #bob .brush {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
/* line 56, ../sass/main.scss */
#main #bob .brush {
  background-image: url("../img/bob_brush_a.png");
  -moz-transition-property: background-position;
  -o-transition-property: background-position;
  -webkit-transition-property: background-position;
  transition-property: background-position;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 61, ../sass/main.scss */
#main #bob .brush.b {
  background-position: 0 -5%;
  background-image: url("../img/bob_brush_b.png");
}
/* line 68, ../sass/main.scss */
#main #video {
  position: absolute;
  top: 12%;
  width: 90%;
  height: 60%;
  background-color: #000;
  z-index: 7;
  overflow: hidden;
}
/* line 76, ../sass/main.scss */
#main #video #gif {
  display: none;
}

/* line 85, ../sass/main.scss */
.fallback #main #video #player {
  display: none;
}
/* line 88, ../sass/main.scss */
.fallback #main #video #gif {
  position: absolute;
  display: block;
  width: 100%;
  top: 5%;
}
/* line 93, ../sass/main.scss */
.fallback #main #video #gif img, .fallback #main #video #gif canvas {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* line 108, ../sass/main.scss */
footer {
  width: 100%;
  color: #fff;
  background-color: #000;
  position: absolute;
  bottom: 0;
  padding: 1em 0;
  font-size: .5em;
  text-align: center;
  text-transform: uppercase;
  z-index: 9;
  font-family: "GothamBold";
}
/* line 121, ../sass/main.scss */
footer p a, footer p a:link, footer p a:active, footer p a:visited, footer p a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 125, ../sass/main.scss */
footer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 760px) {
  /* line 134, ../sass/main.scss */
  body {
    overflow: hidden;
  }

  /* line 137, ../sass/main.scss */
  #main {
    width: 75%;
  }
}
@media screen and (max-width: 660px) {
  /* line 143, ../sass/main.scss */
  #main {
    width: 100%;
    height: 70%;
    top: auto;
    bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 152, ../sass/main.scss */
  #main {
    width: 100%;
    height: 500px;
    top: 150px;
  }
}
/* line 159, ../sass/main.scss */
.mejs-layers, .mejs-controls {
  display: none;
}

/* line 162, ../sass/main.scss */
audio {
  display: none;
}

/* ==========================================================================
   End author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 5, ../sass/bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 12, ../sass/bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 19, ../sass/bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 24, ../sass/bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 35, ../sass/bp/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 45, ../sass/bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 49, ../sass/bp/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 55, ../sass/bp/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 59, ../sass/bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 6, ../sass/bp/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 13, ../sass/bp/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 18, ../sass/bp/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 22, ../sass/bp/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 30, ../sass/bp/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 36, ../sass/bp/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 42, ../sass/bp/_print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 46, ../sass/bp/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 51, ../sass/bp/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 59, ../sass/bp/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 66, ../sass/bp/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
