/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../sass/bp/_bp.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/bp/_bp.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/bp/_bp.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/bp/_bp.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/bp/_bp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/bp/_bp.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/bp/_bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/bp/_bp.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/bp/_bp.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 17, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/chrisedwards82/.gem/ruby/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "GothamBold";
  src: url("../fonts/gotham-bold-webfont.eot");
  src: url("../fonts/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham-bold-webfont.ttf") format("truetype"), url("../fonts/gotham-bold-webfont.svg#GothamBold") format("svg"), url("../fonts/gotham-bold-webfont.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

/* ==========================================================================
   Author's custom styles
   =======================
*/
/* line 13, ../sass/main.scss */
body, html {
  background-color: #ffccff;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 17, ../sass/main.scss */
header {
  padding: 20px;
  float: left;
  z-index: 9;
  text-align: center;
  width: 200px;
}
/* line 23, ../sass/main.scss */
header h1 {
  margin: 0 auto;
  background-color: #fcf;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  width: 123px;
  height: 122px;
  text-indent: -9999em;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: center center;
}
/* line 38, ../sass/main.scss */
header .controls li {
  display: block;
  width: 123px;
  text-align: center;
  text-transform: uppercase;
  font-family: "GothamBold";
  font-size: .8em;
  line-height: .8em;
  padding: .65em 0;
  border: 3px solid #000;
  margin: 1em auto;
  cursor: pointer;
}
/* line 50, ../sass/main.scss */
header .controls li:hover {
  border: 3px solid #fff;
  color: #fff;
}

/* line 60, ../sass/main.scss */
#main {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  max-width: 800px;
  background-color: black;
}
/* line 68, ../sass/main.scss */
#main #bob {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
  background-image: url("../img/bob_bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
  overflow: hidden;
}
/* line 79, ../sass/main.scss */
#main #bob .mouth {
  background-image: url("../img/bob_mouth.png");
}
/* line 82, ../sass/main.scss */
#main #bob .brush {
  background-image: url("../img/bob_brush_a.png");
}
/* line 84, ../sass/main.scss */
#main #bob .brush.b {
  background-image: url("../img/bob_brush_b.png");
}
/* line 88, ../sass/main.scss */
#main #bob .mouth, #main #bob .brush {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
/* line 101, ../sass/main.scss */
#main #video {
  position: absolute;
  top: 12%;
  width: 90%;
  height: 80%;
  background-color: #000;
  z-index: 7;
  overflow: hidden;
}

/* line 116, ../sass/main.scss */
footer {
  width: 100%;
  color: #fff;
  background-color: #000;
  position: absolute;
  bottom: 0;
  padding: 1em 0;
  font-size: .5em;
  text-align: center;
  text-transform: uppercase;
  z-index: 9;
  font-family: "GothamBold";
}
/* line 129, ../sass/main.scss */
footer p a, footer p a:link, footer p a:active, footer p a:visited, footer p a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 133, ../sass/main.scss */
footer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 760px) {
  /* line 142, ../sass/main.scss */
  body {
    overflow: hidden;
  }

  /* line 145, ../sass/main.scss */
  #main {
    width: 75%;
    background-color: #f00;
  }
}
@media screen and (max-width: 480px) {
  /* line 157, ../sass/main.scss */
  #main {
    background-color: #0f0;
  }
}
/* line 162, ../sass/main.scss */
.mejs-layers, .mejs-controls {
  display: none;
}

/* line 165, ../sass/main.scss */
audio {
  display: none;
}

/* line 1, ../sass/_sharelinks.scss */
ul.share-links {
  display: block;
  width: 123px;
  margin: 0 auto;
  text-align: left;
}
/* line 6, ../sass/_sharelinks.scss */
ul.share-links li {
  display: inline-block;
  width: 30%;
  margin-right: 5%;
}
/* line 10, ../sass/_sharelinks.scss */
ul.share-links li .li-text {
  display: none;
}
/* line 12, ../sass/_sharelinks.scss */
ul.share-links li a {
  border: 3px solid #000;
  background-color: #fcf;
  display: block;
  width: 90%;
  height: 40px;
  text-indent: -9999em;
  cursor: pointer;
  background-image: url("../img/social-sprite.png");
  background-repeat: no-repeat;
}
/* line 23, ../sass/_sharelinks.scss */
ul.share-links li a:hover {
  border: 3px solid #fff;
}
/* line 26, ../sass/_sharelinks.scss */
ul.share-links li .a-facebook {
  background-position: 10px 6px;
}
/* line 28, ../sass/_sharelinks.scss */
ul.share-links li .a-facebook:hover {
  background-position: -240px 6px;
}
/* line 33, ../sass/_sharelinks.scss */
ul.share-links li .a-twitter {
  background-position: -71px 6px;
}
/* line 35, ../sass/_sharelinks.scss */
ul.share-links li .a-twitter:hover {
  background-position: -321px 6px;
}
/* line 41, ../sass/_sharelinks.scss */
ul.share-links li .a-email {
  background-position: -150px 6px;
}
/* line 43, ../sass/_sharelinks.scss */
ul.share-links li .a-email:hover {
  background-position: -400px 6px;
}
/* line 51, ../sass/_sharelinks.scss */
ul.share-links li:last-child {
  margin-right: 0;
}

/* ==========================================================================
   End author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 5, ../sass/bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 12, ../sass/bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 19, ../sass/bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 24, ../sass/bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 36, ../sass/bp/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 45, ../sass/bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 50, ../sass/bp/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 55, ../sass/bp/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 59, ../sass/bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 6, ../sass/bp/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 14, ../sass/bp/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 18, ../sass/bp/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 22, ../sass/bp/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 32, ../sass/bp/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 37, ../sass/bp/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 42, ../sass/bp/_print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 47, ../sass/bp/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 51, ../sass/bp/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 61, ../sass/bp/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 67, ../sass/bp/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
